<script type="text/javascript">
    <!--
      function del(id1) {

        var x = confirm("Willst du wirklich den Eintrag entfernen?");
        if (x) {
            document.location.href = "?datenschutz-datenschutz-d" + id1;
        }
    }
    //-->
</script>
<style type="text/css" media="screen">
    hr {width:95%;border: 1px solid #BCBCBC;margin-bottom:20px;}
    h1  small {font-size:12px;}
    input[type=text] {padding:2px;width:98%}
</style>
<table width="95%" cellpadding="0" cellspacing="0" border="0" align="center">
    <tr>
        <td width="60"><img src="include/images/icons/admin/datenschutz.png" style="margin-right:10px"/></td>
        <td width="60%" valign="bottom" align="left">
            <h1>Datenschutzerkl&auml;rung</h1>
        </td>
        <td width="38%" style="text-align:right;"><a href="admin.php?datenschutz"><b>Neuen Abschnitt eintragen</b></a><br><a href="index.php?datenschutz"><b>Front Seite aufrufen</b></a></td>
    </tr>
</table>
<hr>
<table cellpadding="0" cellspacing="0" border="0"  width="100%" align="center">
    <tr>
        <td width="62%" style="min-width:450px" valign="top" align="center">
            <form action="admin.php?datenschutz-datenschutz" method="POST">
                <input type="hidden" name="id" value="{id}">
                <table width="95%" class="border" cellpadding="3" cellspacing="1" border="0">
                    <tr class="Chead">
                        <td colspan="2" align="center"><b>{titeltext}</b></td>
                    </tr>
                    <tr>
                        <td class="Cmite" width="30%">Abschnitt anzeigen?</td>
                        <td class="Cnorm"><input type="radio" value="1" name="einaus" {ein}> Ja <input type="radio" value="0" name="einaus" {aus}> Nein</td>
                    </tr>
                    <tr>
                        <td class="Cmite">Abschnitt Titel</td>
                        <td class="Cnorm"><input type="text" name="titel" value="{titel}" /></td>
                    </tr>
                    <tr>
                        <td class="Cmite">Quelle<br><small>> Url der Quelle</small></td>
                        <td class="Cnorm"><input type="text" name="url" value="{url}" /></td>
                    </tr>
                    <tr>
                        <td class="Cmite">Quelle Titel<br><small>> Titel der Quelle</small></td>
                        <td class="Cnorm"><input type="text" name="urltitle" value="{urltitle}" /></td>
                    </tr>
                    <tr>
                        <td class="Cmite" valign="top">Abschnitt Text</td>
                        <td class="Cnorm"><textarea name="txt" style="width:98%" rows="12">{txt}</textarea><br><span style="float:right;text-align:right;margin-right:12px;"><small>Html Code m&ouml;glich</small></span></td>
                    </tr>
                    <tr class="Cdark">
                        <td></td>
                        <td><input type="submit" value="{subbutton}" name="sub" /></td>
                    </tr>
                </table>
            </form>
        </td>
        <td width="38%" style="min-width:450px" valign="top">
            <table width="94%" class="border" cellpadding="3" cellspacing="1" border="0">
                <tr>
                    <td colspan="7" class="Cdark" height="30" align="center"><b>eingetragene Abschnitte</b></td>
                </tr>
                <tr>
                    <td colspan="7" class="Cmite" height="5"></td>
                </tr>
                <tr class="Chead">
                    <td align="center"><b><sup>on</sup>/<sub>off</sub></b></td>
                    <td align="center"><b>Abschnitt</b></td>
                    <td colspan="4" align="center"><b>Optionen</b></td>
                </tr>
                {EXPLODE}
                <tr class="{class}">
                    {status}
                    <td>{titel}</td>
                    <td align="center"><a href="javascript:del('{id}')" title="Abschnitt l&ouml;schen"><img src="include/images/icons/del.gif" alt="del"></a></td>
                    <td align="center"><a href="?datenschutz-datenschutz-e{id}" title="Abschnitt bearbeiten"><img src="include/images/icons/edit.gif" alt="edit"></a></td>
                    <td align="center"><a href="?datenschutz-datenschutz-o{id}-{pos}"><img src="include/images/icons/pfeilo.gif" border="0" title="nach oben verschieben" alt="oben"></a></td>
                    <td align="center"><a href="?datenschutz-datenschutz-u{id}-{pos}"><img src="include/images/icons/pfeilu.gif" border="0" title="nach unten verschieben" alt="unten"></a></td>
                </tr>
                {EXPLODE}
            </table>
            {MPL}
            <table width="95%">
                <tr>
                    <td align="right" style="text-align:right"><br><br>Modul by <a href="http://www.maretz.eu" target="_blank" title="Maretz.eu - Free Ilch Templates">by Maretz.eu</a><br>Voreinstellungen auf Vorlagen von <a href="http://www.e-recht24.de" target="_blank">e-recht24.de</a>
                </tr>
            </table>
        </td>
    </tr>
</table>